body {
    background-color: black;
}

.wrapper {
    width: 35em;
    margin: auto;
    text-align: center;
}

header {
    display: block;
    margin: auto;
    width: 20em;
    font-weight: 500;
}

img {
    width: 100%;
}

h1 a {
  padding: 0 0.1em;
  text-decoration: none;
  color: white;
}

h1 a:hover {
  color: black;
  background: white;  
}