body {
    background-color: black;
}

.wrapper {
    width: 35em;
    margin: auto;
    text-align: center;
}

/* #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
} */

header {
  display: block;
  margin: auto;
  width: 20em;
  font-weight: 500;
}

svg {
  stroke-width: 9;
  stroke-linecap: round; 
  stroke-linejoin: round; 
  stroke: rgb(255, 255, 255); 
  fill: none;
}

h1 a {
  padding: 0 0.1em 0.1em;
  text-decoration: none;
  color: white;
}

h1 a:hover {
  color: black;
  background: white;  
}